In [1]:
import requests
import mysql.connector

# Database Setup

- This SQL will setup our appointments database in a fresh MySQL environment
- Establishes the database connection using mysql.connector
- Creates the appointments database and all tables

In [3]:
db = mysql.connector.connect(
          host="localhost",
          user="",
          password=""
        )

cursor = db.cursor()
cursor.execute("""
CREATE DATABASE appointments
SET SQL_MODE = "NO_AUTO_VALUE_ON_ZERO";
START TRANSACTION;
SET time_zone = "+00:00";


/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;

--
-- Database: `appointments`
--

-- --------------------------------------------------------

--
-- Table structure for table `appointment`
--

CREATE TABLE `appointment` (
  `AppointmentId` int(11) NOT NULL,
  `AppointmentTime` datetime DEFAULT NULL,
  `ServiceProviderId` int(11) DEFAULT NULL,
  `CustomerId` int(11) DEFAULT NULL,
  `ServiceId` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

--
-- Dumping data for table `appointment`
--

INSERT INTO `appointment` (`AppointmentId`, `AppointmentTime`, `ServiceProviderId`, `CustomerId`, `ServiceId`) VALUES
(1, '2022-01-18 10:30:00', 1, 1, 1),
(2, '2022-01-20 09:00:00', 1, 3, 2);

-- --------------------------------------------------------

--
-- Table structure for table `company`
--

CREATE TABLE `company` (
  `CompanyId` int(11) NOT NULL,
  `CompanyName` varchar(150) DEFAULT NULL,
  `CompanyAddress` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

--
-- Dumping data for table `company`
--

INSERT INTO `company` (`CompanyId`, `CompanyName`, `CompanyAddress`) VALUES
(1, 'Happy Spa', '123 Sesame Street, New York, NY 24744'),
(2, 'Your Spa', '890 The Street Raleigh, NC 48844');

-- --------------------------------------------------------

--
-- Table structure for table `customer`
--

CREATE TABLE `customer` (
  `CustomerId` int(11) NOT NULL,
  `FirstName` varchar(50) DEFAULT NULL,
  `LastName` varchar(50) NOT NULL,
  `CustomerPhoneNumber` varchar(15) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

--
-- Dumping data for table `customer`
--

INSERT INTO `customer` (`CustomerId`, `FirstName`, `LastName`, `CustomerPhoneNumber`) VALUES
(1, 'Mary', 'Smith', '555 555 5555'),
(2, 'John', 'Hunt', '555 555 5556'),
(3, 'Jimmy', 'Jones', '555 555 5558'),
(4, 'Mary', 'Smith', '777 777 8888'),
(5, 'Mikaela', 'Swigg', '4155746848'),
(6, 'Dalston', 'Schenfisch', '2666731572'),
(7, 'Donalt', 'Crown', '5109404208'),
(8, 'Tabatha', 'Plaid', '2062381450'),
(9, 'Albertine', 'Broxup', '4641119563'),
(10, 'Shannen', 'Gaskin', '4313702355'),
(11, 'Weber', 'Allebone', '6462572363'),
(12, 'Lanie', 'Arnould', '8215894787'),
(13, 'Dari', 'Witcherley', '3375485325');

-- --------------------------------------------------------

--
-- Table structure for table `customerorderdetails`
--

CREATE TABLE `customerorderdetails` (
  `CustomerOrderDetailsId` int(11) NOT NULL,
  `CustomerOrderId` int(11) NOT NULL,
  `ServiceId` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

-- --------------------------------------------------------

--
-- Table structure for table `customerorders`
--

CREATE TABLE `customerorders` (
  `CustomerOrderId` int(11) NOT NULL,
  `Date` date NOT NULL,
  `CustomerId` int(11) NOT NULL,
  `CompanyId` int(11) NOT NULL,
  `AppointmentId` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

-- --------------------------------------------------------

--
-- Table structure for table `serviceprovider`
--

CREATE TABLE `serviceprovider` (
  `ServiceProviderId` int(11) NOT NULL,
  `ProviderName` varchar(150) DEFAULT NULL,
  `CompanyId` int(11) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

--
-- Dumping data for table `serviceprovider`
--

INSERT INTO `serviceprovider` (`ServiceProviderId`, `ProviderName`, `CompanyId`) VALUES
(1, 'Jenny', 1),
(2, 'Jenny', 2);

-- --------------------------------------------------------

--
-- Table structure for table `services`
--

CREATE TABLE `services` (
  `ServiceId` int(11) NOT NULL,
  `ServiceName` text NOT NULL,
  `Cost` int(11) NOT NULL,
  `Duration` int(11) NOT NULL,
  `CompanyId` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

--
-- Dumping data for table `services`
--

INSERT INTO `services` (`ServiceId`, `ServiceName`, `Cost`, `Duration`, `CompanyId`) VALUES
(1, '60-minute Massage', 70, 60, 1),
(2, '60-minute Facial', 100, 60, 2),
(3, '30-minute Facial', 50, 30, 1),
(4, '90-minute Massage', 150, 90, 1),
(5, '75-Minute Massage', 150, 75, 2);

--
-- Indexes for dumped tables
--

--
-- Indexes for table `appointment`
--
ALTER TABLE `appointment`
  ADD PRIMARY KEY (`AppointmentId`),
  ADD KEY `CustomerId` (`CustomerId`),
  ADD KEY `ServiceProviderId` (`ServiceProviderId`);

--
-- Indexes for table `company`
--
ALTER TABLE `company`
  ADD PRIMARY KEY (`CompanyId`);

--
-- Indexes for table `customer`
--
ALTER TABLE `customer`
  ADD PRIMARY KEY (`CustomerId`);

--
-- Indexes for table `customerorders`
--
ALTER TABLE `customerorders`
  ADD PRIMARY KEY (`CustomerOrderId`);


Alter TABLE 'customerorderdetails'
  ADD PRIMARY KEY (`CustomerOrderDetailsId`);

--
-- Indexes for table `serviceprovider`
--
ALTER TABLE `serviceprovider`
  ADD PRIMARY KEY (`ServiceProviderId`),
  ADD KEY `CompanyId` (`CompanyId`);

--
-- Indexes for table `services`
--
ALTER TABLE `services`
  ADD PRIMARY KEY (`ServiceId`);

--
-- AUTO_INCREMENT for dumped tables
--

--
-- AUTO_INCREMENT for table `appointment`
--
ALTER TABLE `appointment`
  MODIFY `AppointmentId` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=3;

--
-- AUTO_INCREMENT for table `company`
--
ALTER TABLE `company`
  MODIFY `CompanyId` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=3;

--
-- AUTO_INCREMENT for table `customer`
--
ALTER TABLE `customer`
  MODIFY `CustomerId` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=14;

--
-- AUTO_INCREMENT for table `customerorders`
--
ALTER TABLE `customerorders`
  MODIFY `CustomerOrderId` int(11) NOT NULL AUTO_INCREMENT;

ALTER TABLE `customerorderdetails`
  MODIFY `CustomerOrderId` int(11) NOT NULL AUTO_INCREMENT;

--
-- AUTO_INCREMENT for table `serviceprovider`
--
ALTER TABLE `serviceprovider`
  MODIFY `ServiceProviderId` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=3;

--
-- AUTO_INCREMENT for table `services`
--
ALTER TABLE `services`
  MODIFY `ServiceId` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=6;

--
-- Constraints for dumped tables
--

--
-- Constraints for table `appointment`
--
ALTER TABLE `appointment`
  ADD CONSTRAINT `appointment_ibfk_1` FOREIGN KEY (`CustomerId`) REFERENCES `customer` (`CustomerId`),
  ADD CONSTRAINT `appointment_ibfk_2` FOREIGN KEY (`ServiceProviderId`) REFERENCES `serviceprovider` (`ServiceProviderId`),
  ADD CONSTRAINT `appointment_ibfk_3` FOREIGN KEY (`ServiceId`) REFERENCES `services` (`ServiceId`);

--
-- Constraints for table `serviceprovider`
--
ALTER TABLE `serviceprovider`
  ADD CONSTRAINT `serviceprovider_ibfk_1` FOREIGN KEY (`CompanyId`) REFERENCES `company` (`CompanyId`);
  
--
-- Constraints for table `services`
--
ALTER TABLE `services`
  ADD CONSTRAINT `services_ibfk_1` FOREIGN KEY (`CompanyId`) REFERENCES `company` (`CompanyId`);
  
  --
-- Constraints for table `customerorderdetails``
--
ALTER TABLE `customerorderdetails`
  ADD CONSTRAINT `customerorderdetails_ibfk_1` FOREIGN KEY (`ServiceId`) REFERENCES `services` (`ServiceId`),
  ADD CONSTRAINT `customerorderdetails_ibfk_2` FOREIGN KEY (`CustomerOrderId`) REFERENCES `customerorders` (`CustomerOrderId`);
  
  
  
  
COMMIT;

/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;


-- write a query to insert an entry into the customer order details table given only the order date, customer id, company id, and appointment id

INSERT INTO customerorderdetails (CustomerOrderId, ServiceId, AppointmentId) VALUES (1, 1, 1);

""", multi=True)

# ORM Class Implementation

- ORM class creates a database connection and builds a dictionary that maps table names to table objects
- A reference to the database connection is passed to each table object
- Each table object can be refereneced from the ORM object using the tables dictionary with the table name as the key
- The ORM class constructor modifies the table properties to account for foreign keys
    - after the table objects are created, the constructor iterates through the table objects and makes a call to the foriegn key relationship endpoint
    - if a table property is a foreign key, then the value in the table properties dictionary is set to a reference to the table object being referenced by the foreign key, otherwise the value is None

In [59]:
class ORM:
    def __init__(self, host="", username="", password="", database=""):
        self.db = mysql.connector.connect(host=host, user=username, password=password, database=database)
        self.tables = {table['table_name']: Table(table['table_name'], self.db) for table in requests.get("http://appthero.me/index.php/tables/list", headers={"User-Agent": "XY"}).json()}
        for table in self.tables:
            for response in requests.get("http://appthero.me/index.php/fks/list/{}".format(table), headers={"User-Agent": "XY"}).json():
                  self.tables[response['TABLE_NAME']].properties[response['COLUMN_NAME']] = self.tables[table]

# Table Class Implementation
- Table class stores a reference to the table name, database connection, table properties, table columns, and primary key
- getAll method returns all items for the table
- get method returns items where a given column name matches a given value
- all properties are initialized to None, but foreign keys are replaced by references to the table object to which the foreign key refers within the ORM constructor

In [60]:
class Table:
    def __init__(self, name, db):
        self.name = name
        self.db = db
        self.properties = {column['COLUMN_NAME']: None for column in requests.get("http://appthero.me/index.php/columns/list/{}".format(self.name), headers={"User-Agent": "XY"}).json()}
        self.columns = {column['COLUMN_NAME']: column for column in requests.get("http://appthero.me/index.php/columns/list/{}".format(self.name), headers={"User-Agent": "XY"}).json()}
        for column in self.columns:
            if self.columns[column]['COLUMN_KEY'] == 'PRI':
                self.primaryKey = self.columns[column]['COLUMN_NAME']
                
    def getAll(self):
        sql = 'SELECT * FROM {0}'.format(self.name)
        cursor = self.db.cursor()
        cursor.execute(sql)
        return cursor.fetchall()
        
    def get(self, primaryKey, value):
        sql = 'SELECT * FROM {0} where {1} = {2}'.format(self.name, primaryKey, value)
        cursor = self.db.cursor()
        cursor.execute(sql)
        return cursor.fetchall()

# Testing the ORM Class
- Here I create an ORM object named test
- I leave the username and password as empty strings, but this is where you would enter your own username and password

In [61]:
test = ORM("localhost", "", "", "appointments")

### Calling getAll() for each Table

In [62]:
for table in test.tables:
    print(test.tables[table].name)
    print(test.tables[table].getAll())
    print('')

appointment
[(1, datetime.datetime(2022, 1, 18, 10, 30), 1, 1, 1), (2, datetime.datetime(2022, 1, 20, 9, 0), 1, 3, 2)]

company
[(1, 'Happy Spa', '123 Sesame Street, New York, NY 24744'), (2, 'Your Spa', '890 The Street Raleigh, NC 48844')]

customer
[(1, 'Mary', 'Smith', '555 555 5555'), (2, 'John', 'Hunt', '555 555 5556'), (3, 'Jimmy', 'Jones', '555 555 5558'), (4, 'Mary', 'Smith', '777 777 8888'), (5, 'Mikaela', 'Swigg', '4155746848'), (6, 'Dalston', 'Schenfisch', '2666731572'), (7, 'Donalt', 'Crown', '5109404208'), (8, 'Tabatha', 'Plaid', '2062381450'), (9, 'Albertine', 'Broxup', '4641119563'), (10, 'Shannen', 'Gaskin', '4313702355'), (11, 'Weber', 'Allebone', '6462572363'), (12, 'Lanie', 'Arnould', '8215894787'), (13, 'Dari', 'Witcherley', '3375485325')]

customerorderdetails
[]

customerorders
[]

serviceprovider
[(1, 'Jenny', 1), (2, 'Jenny', 2)]

services
[(1, '60-minute Massage', 70, 60, 1), (2, '60-minute Facial', 100, 60, 2), (3, '30-minute Facial', 50, 30, 1), (4, '90-minute Massage', 150, 90, 1), (5, '75-Minute Massage', 150, 75, 2)]

### Calling Get all for Specific Tables

In [63]:
test.tables['services'].getAll()

[(1, '60-minute Massage', 70, 60, 1),
 (2, '60-minute Facial', 100, 60, 2),
 (3, '30-minute Facial', 50, 30, 1),
 (4, '90-minute Massage', 150, 90, 1),
 (5, '75-Minute Massage', 150, 75, 2)]

In [64]:
test.tables['customer'].getAll()

[(1, 'Mary', 'Smith', '555 555 5555'),
 (2, 'John', 'Hunt', '555 555 5556'),
 (3, 'Jimmy', 'Jones', '555 555 5558'),
 (4, 'Mary', 'Smith', '777 777 8888'),
 (5, 'Mikaela', 'Swigg', '4155746848'),
 (6, 'Dalston', 'Schenfisch', '2666731572'),
 (7, 'Donalt', 'Crown', '5109404208'),
 (8, 'Tabatha', 'Plaid', '2062381450'),
 (9, 'Albertine', 'Broxup', '4641119563'),
 (10, 'Shannen', 'Gaskin', '4313702355'),
 (11, 'Weber', 'Allebone', '6462572363'),
 (12, 'Lanie', 'Arnould', '8215894787'),
 (13, 'Dari', 'Witcherley', '3375485325')]

### Calling Get for each Table with the Table Primary Key and a Value of 1

In [65]:
for table in test.tables:
    print(test.tables[table].name)
    print(test.tables[table].get(test.tables[table].primaryKey, 1))
    print('')

appointment
[(1, datetime.datetime(2022, 1, 18, 10, 30), 1, 1, 1)]

company
[(1, 'Happy Spa', '123 Sesame Street, New York, NY 24744')]

customer
[(1, 'Mary', 'Smith', '555 555 5555')]

customerorderdetails
[]

customerorders
[]

serviceprovider
[(1, 'Jenny', 1)]

services
[(1, '60-minute Massage', 70, 60, 1)]

### Calling Get for the appointment Table with Different Columns

In [66]:
test.tables['appointment'].get("AppointmentId", 1)

[(1, datetime.datetime(2022, 1, 18, 10, 30), 1, 1, 1)]

In [67]:
test.tables['appointment'].get("ServiceProviderId", 1)

[(1, datetime.datetime(2022, 1, 18, 10, 30), 1, 1, 1),
 (2, datetime.datetime(2022, 1, 20, 9, 0), 1, 3, 2)]

In [68]:
test.tables['appointment'].get("CustomerId", 1)

[(1, datetime.datetime(2022, 1, 18, 10, 30), 1, 1, 1)]

In [69]:
test.tables['appointment'].get("ServiceId", 2)

[(2, datetime.datetime(2022, 1, 20, 9, 0), 1, 3, 2)]

### Printing the Column Data for each Table

In [70]:
for table in test.tables:
    print(test.tables[table].name)
    print('')
    for column in test.tables[table].columns:
        print("\t{}".format(test.tables[table].columns[column]['COLUMN_NAME']))
        print("{}".format(test.tables[table].columns[column]))
        print('')
    print('')

appointment

	AppointmentId
{'COLUMN_NAME': 'AppointmentId', 'DATA_TYPE': 'int', 'COLUMN_KEY': 'PRI', 'COLUMN_TYPE': 'int(11)', 'EXTRA': 'auto_increment'}

	AppointmentTime
{'COLUMN_NAME': 'AppointmentTime', 'DATA_TYPE': 'datetime', 'COLUMN_KEY': '', 'COLUMN_TYPE': 'datetime', 'EXTRA': ''}

	ServiceProviderId
{'COLUMN_NAME': 'ServiceProviderId', 'DATA_TYPE': 'int', 'COLUMN_KEY': 'MUL', 'COLUMN_TYPE': 'int(11)', 'EXTRA': ''}

	CustomerId
{'COLUMN_NAME': 'CustomerId', 'DATA_TYPE': 'int', 'COLUMN_KEY': 'MUL', 'COLUMN_TYPE': 'int(11)', 'EXTRA': ''}

	ServiceId
{'COLUMN_NAME': 'ServiceId', 'DATA_TYPE': 'int', 'COLUMN_KEY': 'MUL', 'COLUMN_TYPE': 'int(11)', 'EXTRA': ''}


company

	CompanyId
{'COLUMN_NAME': 'CompanyId', 'DATA_TYPE': 'int', 'COLUMN_KEY': 'PRI', 'COLUMN_TYPE': 'int(11)', 'EXTRA': 'auto_increment'}

	CompanyName
{'COLUMN_NAME': 'CompanyName', 'DATA_TYPE': 'varchar', 'COLUMN_KEY': '', 'COLUMN_TYPE': 'varchar(150)', 'EXTRA': ''}

	CompanyAddress
{'COLUMN_NAME': 'CompanyAddress', 'DATA_TYPE': 'text', 'COLUMN_KEY': '', 'COLUMN_TYPE': 'text', 'EXTRA': ''}


customer

	CustomerId
{'COLUMN_NAME': 'CustomerId', 'DATA_TYPE': 'int', 'COLUMN_KEY': 'PRI', 'COLUMN_TYPE': 'int(11)', 'EXTRA': 'auto_increment'}

	FirstName
{'COLUMN_NAME': 'FirstName', 'DATA_TYPE': 'varchar', 'COLUMN_KEY': '', 'COLUMN_TYPE': 'varchar(50)', 'EXTRA': ''}

	LastName
{'COLUMN_NAME': 'LastName', 'DATA_TYPE': 'varchar', 'COLUMN_KEY': '', 'COLUMN_TYPE': 'varchar(50)', 'EXTRA': ''}

	CustomerPhoneNumber
{'COLUMN_NAME': 'CustomerPhoneNumber', 'DATA_TYPE': 'varchar', 'COLUMN_KEY': '', 'COLUMN_TYPE': 'varchar(15)', 'EXTRA': ''}


customerorderdetails

	CustomerOrderDetailsId
{'COLUMN_NAME': 'CustomerOrderDetailsId', 'DATA_TYPE': 'int', 'COLUMN_KEY': 'PRI', 'COLUMN_TYPE': 'int(11)', 'EXTRA': 'auto_increment'}

	CustomerOrderId
{'COLUMN_NAME': 'CustomerOrderId', 'DATA_TYPE': 'int', 'COLUMN_KEY': 'MUL', 'COLUMN_TYPE': 'int(11)', 'EXTRA': ''}

	ServiceId
{'COLUMN_NAME': 'ServiceId', 'DATA_TYPE': 'int', 'COLUMN_KEY': 'MUL', 'COLUMN_TYPE': 'int(11)', 'EXTRA': ''}


customerorders

	CustomerOrderId
{'COLUMN_NAME': 'CustomerOrderId', 'DATA_TYPE': 'int', 'COLUMN_KEY': 'PRI', 'COLUMN_TYPE': 'int(11)', 'EXTRA': 'auto_increment'}

	Date
{'COLUMN_NAME': 'Date', 'DATA_TYPE': 'date', 'COLUMN_KEY': '', 'COLUMN_TYPE': 'date', 'EXTRA': ''}

	CustomerId
{'COLUMN_NAME': 'CustomerId', 'DATA_TYPE': 'int', 'COLUMN_KEY': '', 'COLUMN_TYPE': 'int(11)', 'EXTRA': ''}

	CompanyId
{'COLUMN_NAME': 'CompanyId', 'DATA_TYPE': 'int', 'COLUMN_KEY': '', 'COLUMN_TYPE': 'int(11)', 'EXTRA': ''}

	AppointmentId
{'COLUMN_NAME': 'AppointmentId', 'DATA_TYPE': 'int', 'COLUMN_KEY': '', 'COLUMN_TYPE': 'int(11)', 'EXTRA': ''}


serviceprovider

	ServiceProviderId
{'COLUMN_NAME': 'ServiceProviderId', 'DATA_TYPE': 'int', 'COLUMN_KEY': 'PRI', 'COLUMN_TYPE': 'int(11)', 'EXTRA': 'auto_increment'}

	ProviderName
{'COLUMN_NAME': 'ProviderName', 'DATA_TYPE': 'varchar', 'COLUMN_KEY': '', 'COLUMN_TYPE': 'varchar(150)', 'EXTRA': ''}

	CompanyId
{'COLUMN_NAME': 'CompanyId', 'DATA_TYPE': 'int', 'COLUMN_KEY': 'MUL', 'COLUMN_TYPE': 'int(11)', 'EXTRA': ''}


services

	ServiceId
{'COLUMN_NAME': 'ServiceId', 'DATA_TYPE': 'int', 'COLUMN_KEY': 'PRI', 'COLUMN_TYPE': 'int(11)', 'EXTRA': 'auto_increment'}

	ServiceName
{'COLUMN_NAME': 'ServiceName', 'DATA_TYPE': 'text', 'COLUMN_KEY': '', 'COLUMN_TYPE': 'text', 'EXTRA': ''}

	Cost
{'COLUMN_NAME': 'Cost', 'DATA_TYPE': 'int', 'COLUMN_KEY': '', 'COLUMN_TYPE': 'int(11)', 'EXTRA': ''}

	Duration
{'COLUMN_NAME': 'Duration', 'DATA_TYPE': 'int', 'COLUMN_KEY': '', 'COLUMN_TYPE': 'int(11)', 'EXTRA': ''}

	CompanyId
{'COLUMN_NAME': 'CompanyId', 'DATA_TYPE': 'int', 'COLUMN_KEY': 'MUL', 'COLUMN_TYPE': 'int(11)', 'EXTRA': ''}

### Accessign and Modifying Properties
- I created a dictionary that maps the column name to the property value
- By default I set the default value for each property as None
- Since I used a dictionary, the values can be accessed and modified without getters and setters

In [71]:
for table in test.tables:
    print(table, test.tables[table].properties)

appointment {'AppointmentId': None, 'AppointmentTime': None, 'ServiceProviderId': <__main__.Table object at 0x7f9c76c3e090>, 'CustomerId': <__main__.Table object at 0x7f9c76cd88d0>, 'ServiceId': <__main__.Table object at 0x7f9c76c3b090>}
company {'CompanyId': None, 'CompanyName': None, 'CompanyAddress': None}
customer {'CustomerId': None, 'FirstName': None, 'LastName': None, 'CustomerPhoneNumber': None}
customerorderdetails {'CustomerOrderDetailsId': None, 'CustomerOrderId': <__main__.Table object at 0x7f9c76ee5790>, 'ServiceId': <__main__.Table object at 0x7f9c76c3b090>}
customerorders {'CustomerOrderId': None, 'Date': None, 'CustomerId': None, 'CompanyId': None, 'AppointmentId': None}
serviceprovider {'ServiceProviderId': None, 'ProviderName': None, 'CompanyId': <__main__.Table object at 0x7f9c76ee0d10>}
services {'ServiceId': None, 'ServiceName': None, 'Cost': None, 'Duration': None, 'CompanyId': <__main__.Table object at 0x7f9c76ee0d10>}

#### Get CompanyName property from company table

In [72]:
print(test.tables['company'].properties['CompanyName'])

None

#### Set CompanyName property within company table to "TestCompany"

In [73]:
test.tables['company'].properties['CompanyName'] = "TestCompany"
print(test.tables['company'].properties['CompanyName'])

TestCompany

### Get services table from appointment table properties using ServiceId
- this will return the services table object rather than None, since ServiceId is a foreign key

In [76]:
services_table = test.tables['appointment'].properties['ServiceId']
print(services_table)
print(services_table.name)
print(services_table.columns)
print(services_table.properties)

<__main__.Table object at 0x7f9c76c3b090>
services
{'ServiceId': {'COLUMN_NAME': 'ServiceId', 'DATA_TYPE': 'int', 'COLUMN_KEY': 'PRI', 'COLUMN_TYPE': 'int(11)', 'EXTRA': 'auto_increment'}, 'ServiceName': {'COLUMN_NAME': 'ServiceName', 'DATA_TYPE': 'text', 'COLUMN_KEY': '', 'COLUMN_TYPE': 'text', 'EXTRA': ''}, 'Cost': {'COLUMN_NAME': 'Cost', 'DATA_TYPE': 'int', 'COLUMN_KEY': '', 'COLUMN_TYPE': 'int(11)', 'EXTRA': ''}, 'Duration': {'COLUMN_NAME': 'Duration', 'DATA_TYPE': 'int', 'COLUMN_KEY': '', 'COLUMN_TYPE': 'int(11)', 'EXTRA': ''}, 'CompanyId': {'COLUMN_NAME': 'CompanyId', 'DATA_TYPE': 'int', 'COLUMN_KEY': 'MUL', 'COLUMN_TYPE': 'int(11)', 'EXTRA': ''}}
{'ServiceId': None, 'ServiceName': None, 'Cost': None, 'Duration': None, 'CompanyId': <__main__.Table object at 0x7f9c76ee0d10>}